{% extends "footer.html" %}

{% block content_page %}
<header>
    <div class="header_all">

        <div class="logo_text">
            <a class="header" href="/"></a>
        </div>

        <div class="header_right">
            <nav>
                <button onclick="location.href = '/searchplace';" type="button" class="no_borders">
                    <span class="icon icon_choose_place" data-logo="react"></span>
                </button>

                {% if current_user.is_authenticated %}
                <button onclick="location.href = '/user_profile';" type="button" class="no_borders">
                    <span class="icon icon_settings" data-logo="react"></span>
                </button>

                <button onclick="location.href = '/logout';" type="button" class="no_borders">
                    <span class="header-text" data-logo="react">Выйти</span>
                </button>

                {% else %}

                <button onclick="location.href = '/log_in';" type="button" class="no_borders">
                    <span class="header-text" data-logo="react">Войти</span>
                </button>

                <button onclick="location.href = '/sign_up';" type="button" class="no_borders">
                    <span class="header-text" data-logo="react">Зарегистрироваться</span>
                </button>

                {% endif %}

            </nav>
        </div>
    </div>
</header>


{% block content %}
{% endblock %}


{% endblock %}
