{% extends "base.html" %}

{% block content %}
<div class="greetings">
    <div class="welcome">Добро пожаловать на <br> <span class="nice_text">Know there to go</span></div>
    <p>Этот сайт посвещён нахожденю новых приятгных мест для прогулок и приятного времяпрепровождения <br>
    На нём вы можете оставлять записи о тех местах, в которых вы побывали <br>
    Искать новые по тем папраметрам, которые сами укажите</p>

    <p class="left">Вот пару из них, но вы можете настроить фильтры поиска <br> нажав на логотип в верхнем правом углу экрана</p>
</div>

<div class="form-place">
    <div class="header_form_place">
        <div>
            <a href="/place_id" class="no_underline name_place">{{title_place}}</a>
            <span class="lower_address">{{address}}</span>
        </div>

        <div>
            <img class="img_weather_medium_describe" src="/static/img/sun.png">
            <p class="weather_medium lower_address">погода на сегодня</p>
        </div>

    </div>


    <div class="medium_describe">
            <img class="img_medium_describe" src="/static/img/{{picture}}">
            <p class="text_form_place">{{text}}</p> <br>
            <p class="text_form_place_data_medium text_form_place">
                c кем приходить: {{turnout}} <br>
                желательный бюджет: {{budget}} <br>
                расстояние от Вас: {{distance}} метров
            </p>
    </div>
</div>






{% endblock %}