{% extends "base.html" %}

{% block content %}
<div class="greetings">
    <div class="welcome">Добро пожаловать на <br> <span class="nice_text">Know there to go</span></div>
    <p>Этот сайт посвещён нахожденю новых приятгных мест для прогулок и приятного времяпрепровождения <br>
    На нём вы можете оставлять записи о тех местах, в которых вы побывали <br>
    Искать новые по тем папраметрам, которые сами укажите</p>

    <p class="left">Вот пару из них, но вы можете настроить фильтры поиска <br> нажав на логотип в верхнем правом углу экрана</p>
</div>

<div class="form-place">
</div>




{% endblock %}