{% extends "base.html" %}

{% block content %}
<div class="borders_blue">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="bd margin padding">
            <h1 class="mini_title_page">Параметры, по которым будет поиск</h1>
            <div class="flex-row">
                <div>
                    <span class="nice_text space">Выбрать теги</span>
                    {% for tag in tags %}
                    <div class="form-check margin-left">
                        <input class="form-check-input" type="checkbox" value="{{tag[0]}}"
                               id="{{tag[0]}}" name="{{tag[0]}}">
                        <label class="form-check-label header-text" for="{{tag[0]}}">
                            {{tag[1]}}
                        </label>
                    </div>
                    {% endfor %}

                    {% if message%}
                    <div class="alert alert-danger" role="alert">{{message}}</div>
                    {% endif %}

                </div>
                <div>
                    <div class="mb-3 space">
                        <label for="tag" class="form-label header-text">Другие теги (каждый с новой строки)</label>
                        <textarea class="form-control" id="tag" name="tag"
                                  rows="2"></textarea>
                    </div>
                    <div>
                        <div class="mb-3 space">
                            <label for="address" class="form-label header-text">Адрес</label>
                            <input type="text" class="form-control" id="address" value=""
                                   name="address">
                            <div class="form-text">Результаты поиска будут отсортированы в
                                зависимости от удалённости
                                от
                                введённого адреса
                            </div>

                            <div class="col-auto margin-up-down">
                                <label class="form-label header-text"
                                       for="cost">Цена</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="cost"
                                           placeholder="0" name="cost"
                                           required>
                                    <div class="input-group-text">₽</div>
                                </div>
                                <div class="form-text">Сколько не жалко потратить</div>
                            </div>
                            <div class="col-12 space">
                                <button type="submit" class="btn btn-primary">Искать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>

{% endblock %}