{% extends "base.html" %}

{% block content %}
<div class="borders_blue">
    <form class="needs-validation form_settings form-change_profile" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div class="header_settings">
            <div class="header_settings_borders">
                <div class="flex_column">
                    <div>
                        <h2>{{name}}</h2>
                        <div class="mb-3">
                            <label for="ChangeName" class="form-label">сменить имя</label>
                            <input type="text" class="form-control" id="ChangeName" value="{{ name }}"
                                   name="ChangeName" required>
                        </div>
                    </div>
                    <div>
                        <h2>{{email}}</h2>
                        <div class="mb-3">
                            <label for="ChangeEmail" class="form-label">сменить почту</label>
                            <input type="email" class="form-control" id="ChangeEmail" value="{{ email }}"
                                   name="ChangeEmail" required>
                        </div>
                    </div>
                    <div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">подтвердить измения</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_settings_borders">
                <img class="settings_picture" src="{{image_way}}" alt="аватарка">
                <div class="mp-3">
                    <label for="Prof_Pic" class="form-label">загрузить новую</label>
                    <input type="file" class="form-control" id="Prof_Pic" name="ProfPic"
                           aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept=".jpg,.jpeg,.png">
                </div>
            </div>
        </div>

    </form>
    {% if message%}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endif %}

    <div class="all_notes form_settings">

        {% if count_posts == 0 %}
        <h3 class="name_place">Вы пока не выкладывали записи</h3>
        <p class="text_form_place text_center">Есть у Вас инетерсные метса на примете? ;)</p>
        <br>
        {% else %}
        <h3 class="name_place">Вы выложили {{count_posts}} записей</h3>
<!--        <div class="cards">-->
        {% for num in range(count_posts) %}
        <div class="card cards" style="width: 18rem;">
            <img src="{{ images_way[num] }}" class="card-img-top" alt="картиночка места">
            <div class="card-body">
                <h5 class="card-title">{{arr_title[num]}}</h5>
                <p class="card-text overflow_text_card">{{arr_text[num]}}</p>
                <a href="" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
        {% endfor %}
<!--            </div>-->
        {% endif %}
        <button onclick="location.href = '/add_place';" type="button" class="no_borders">
            <span class="btn_add_place" data-logo="react">Опубликовать новое место</span>
        </button>
    </div>


</div>

{% endblock %}